
#h1-redinsights-white {
grid-area: 1 / 1 / 2 / 2;
width: 788px;
height: 175px;
font-family: 'Rowdies-Regular';
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 79px;
display: grid;
align-items: center;
padding-left: 2.5em;
color: #FE3B1F;
}
#midcon-white-redinsights {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    align-items: center;
    justify-content: center;
}
#radio1-redinsights-div {
    margin-top: 4em;
}
#text-input-redinsights {
    margin-top: 2em;
    justify-content: space-between;
    align-items: center;
}
#devtalk-text-input {
width: 535px;
height: 122px;
background: #FFFFFF;
border: 1px solid #525557;
box-sizing: border-box;
}
#special-text-input {
width: 535px;
height: 89px;
background: #FFFFFF;
border: 1px solid #525557;
box-sizing: border-box;
}

